*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.bx-home
{
    font-size: 24px;
}

.icon
{
    width:24px;
    height:24px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

body
{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
    
}
.logo_content
{
    
    display: flex;
    align-items: center;
    gap: 30px;
}
.sidebar .logo_content .logo
{
    height: 50px;
    width:100%;
    display: flex;
    align-items: center;
}

.bx-menu
{
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.bxl-youtube
{
    font-size: 29px;
    color: red;
}

.logo_name
{
    color: white;
    font-size: 22px;
    font-weight: 600;
}

hr
{
    border: 1px solid rgba(46, 46, 46);
    margin: 10px 0;
}

li
{
    list-style: none;
}

a{
    text-decoration: none;
    
}

ul
{
    margin-top: 20px;
}

ul li a
{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0px 10px;
    border-radius: 12px;
    transition: all 0.4s ease;
    color: #ececec;
}

a:hover
{
    background: #ececec;
    color: #11101d;
    cursor: pointer;
}